# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# Environment variables
.env

# Python cache
.pytest_cache/

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

# Docker
*.tar

# MongoDB
data/db/

# Coverage
.coverage
htmlcov/

# Build
build/
dist/

# Misc
*.swp